.class-list-container{
  width: 300px;

  h3{
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
  }

  .class-list-table{
    text-align: left;
    list-style: none;
    width: 100%;
    margin-top: 50px;
    tr{
      margin-top: 20px;
    }
    th{
      min-width: 140px;
    }
    td{
      min-width: 140px;
    }



    .class-list-item{
      margin: 8px;
      //display: flex;
      //flex-direction: row;
      //justify-content: space-between;
      .class-course-name{
        text-align: left;
      }
      .class-enroll-link{
        text-decoration: none;
        color: #23d160;
        outline: none;
        cursor: grab;
        font-weight: 900;
        text-align: right;

      }
      .class-delete-link{
        text-decoration: none;
        color: #ff3860;
        outline: none;
        cursor: grab;
        font-weight: 900;
        text-align: right;

      }
    }

    .enroll-text{
      outline: none;
      font-weight: 900;
      text-decoration: none;
    }

    .already-enrolled{

       color: #ffdd57;

     }
    .active-enrolled{
      color: #209cee;
    }

  }

}
