<%= render 'shared/errors', obj: @student %>
<div class="form-container">
  <%= form_with(model: @student, html: {class: "col s12"}) do |form| %>
    <%= react_component 'AddEditStudentForm', { name: @student.name, email: @student.email, newStudent:@student.new_record? } %>
  <% end %>
</div>