<div class ="index">
  <div class="index-title">
    <h3 >Student Directory</h3>
  </div>

  <div class ="card-component-container">
      <% @students.each do |student| %>
        <!-- not sure if it's better to give the whole object here in props. I decided against it as it lead to props.student.x giving an undefined error if for some reason there were no initial values, like in testing-->
        <%= react_component("StudentCard", {id: student.id, name: student.name, email: student.email, courses: student.courses, editPath: edit_student_path(student), addStudentClassPath: student_course_path(student)}) %>
      <% end %>

  </div>

  <div class="button-container">
    <%= link_to "New Student", students_new_path, :class => "new-button" %>
  </div>
</div>