<%= render 'shared/errors', obj: @course %>
<div class="form-container">

  <%= form_with(model: @course, html: {class: "col s12"}) do |form| %>
    <%= react_component 'AddEditCourseForm', { name: @course.name, description: @course.description, newCourse:@course.new_record? } %>
  <% end %>
</div>