<div class ="index">
  <div class="index-title">
    <h3>Course Directory</h3>
  </div>

  <div class ="card-component-container">
    <% @courses.order(:created_at).each do |course| %>
      <%= react_component("CourseCard", {id: course.id, name: course.name, description: course.description, editPath: edit_course_path(course)}) %>
    <% end %>
  </div>

  <div class="button-container">
    <%= link_to "New Course", courses_new_path, :class => "new-button" %>
  </div>

</div>
