@import "pages/indexes";
@import "components/cards";
@import "components/forms";
@import "pages/classList";



body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  flex: 1 0 auto;
  //margin-top: 40px;

  .container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .bottom-container{
    height: 100px;
    //background-color: white;
    width: 300px;
    margin: 30px auto;

    a {

      //padding: 10px;
      //margin: 0 auto;
      //display: block;
      //width: 300px!important;
      img{
        width: 300px;
        margin: 0 auto;
        padding: 10px;
      }

    }
  }

  .input-field{

    .log-button{

      margin: 0 10px;
    }

  }

}

nav {
  background-color: #209cee;
  .nav-wrapper{
    margin-left: 30px;
    padding: 15px;
    a{
      color: white;
      text-decoration: none;
      margin: 0 5px;
    }
    a:hover {
      color: #eee9e9;
    }
  }

}

.flash-message{
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  outline: none;
  padding: 10px 50px;
  margin: 30px;
  cursor: grab;
  font-size: 20px;
  background-color: #00d1b2;
  position: relative;
}





