<header>
  <nav>
    <div class="nav-wrapper">
        <%= link_to 'Courses', root_path %>
        <%= link_to 'Students', students_path %>

    </div>
  </nav>

  <% flash.each do |key, message| %>
    <div class="container">
          <div class="flash-message" id="fade-out-target">
            <span>
                <%= message %>
            </span>
          </div>
        </div>
  <% end %>

</header>
